/SpringStrutsWebNew/.settings
/SpringStrutsWebNew/.project
ws-client-ccc
ws-client-c
.settings
/Jpa20WebStandalone/.settings
/Jpa20WebStandalone/.project
.project
/JsfHello/.project
/SpringStrutsWebServices/.project
/jsf/ch02/.classpath
/jsf/ch02/.project
/rest-exp/.project
