<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
              http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">


	<http entry-point-ref="casEntryPoint" auto-config="true">
		<!-- <intercept-url pattern="/Secure" access="ROLE_USER" /> -->
		<intercept-url pattern="/j_spring_security_check"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="ROLE_USER" />
		<custom-filter position="CAS_FILTER" ref="casFilter" />

		<logout logout-success-url="/cas-logout.jsp"/>	
		<!--  	-->
		<custom-filter ref="requestSingleLogoutFilter" before="LOGOUT_FILTER"/>	 
		<custom-filter ref="singleLogoutFilter" before="CAS_FILTER" />
	

	</http>


	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="casAuthenticationProvider" />
	</authentication-manager>



	
	<!-- <user-service id="userService"> <user name="joe" password="joe" authorities="ROLE_USER" 
		/> </user-service> -->

	<!-- user without cas <http> <intercept-url pattern="/**" access="ROLE_USER" 
		/> <intercept-url pattern="/Secure" access="ROLE_USER" /> <intercept-url 
		pattern="/**" filters="none" /> <form-login /> <http-basic /> <logout /> 
		</http> <authentication-manager> <authentication-provider> <user-service> 
		<user name="jimi" password="jimispassword" authorities="ROLE_USER, ROLE_ADMIN" 
		/> <user name="bob" password="bobspassword" authorities="ROLE_USER" /> <user 
		name="admin" password="admin" authorities="ROLE_USER" /> <user name="ene" 
		password="ene" authorities="ROLE_ADMIN" /> </user-service> </authentication-provider> 
		<authentication-provider ref='myAuthenticationProvider'/> </authentication-manager> -->


	<global-method-security secured-annotations="enabled" />
</beans:beans>